<?xml version="1.0" encoding="UTF-8"?>
<component type="desktop">
  <id>eu.ithz.umftpd</id>
  <metadata_license>CC0-1.0</metadata_license>
  <project_license>GPL-3.0+</project_license>
  <name>{{global.title}}</name>
  <summary>{{global.description}}</summary>
  <developer_name translatable="no">Felipe A Hernandez</developer_name>
  <description>
    <p>
      Start an FTP server as user and transfer files directly via
      most file browsers' builtin FTP support:
      Windows File Explorer, Thunar, Gnome Files, Dolphin and many more!
    </p>
    <p>Features:</p>
    <ul>
      <li>User-friendly graphical interface.</li>
      <li>No root nor special permissions required.</li>
      <li>FTP encryption (FTPS). SFTP support.</li>
      <li>Single-user authentication.</li>
      <li>Optional read-only filesystem.</li>
    </ul>
</description>
  <launchable type="desktop-id">eu.ithz.umftpd.desktop</launchable>
  <screenshots>
    <screenshot type="default">
      <image>https://gitlab.com/ergoithz/umftpd/-/raw/master/media/v0.2.0-main.png</image>
      <image>https://gitlab.com/ergoithz/umftpd/-/raw/master/media/v0.3.0-status.png</image>
    </screenshot>
  </screenshots>
  <content_rating type="oars-1.1" />
  <url type="homepage">https://gitlab.com/ergoithz/umftpd</url>
  <url type="bugtracker">https://gitlab.com/ergoithz/umftpd/issues</url>
  <url type="help">https://gitlab.com/ergoithz/umftpd/-/wikis/User-Guide</url>
  <url type="donation">https://ko-fi.com/s26me</url>
  <recommends>
    <control>pointing</control>
    <control>keyboard</control>
    <control>touch</control>
  </recommends>
  <requires>
    <display_length compare="ge">500</display_length>
  </requires>
  <releases>
    <release version="0.3.2" date="2022-12-18">
      <description>
        <p>Fixes</p>
        <ul>
          <li>Server address showing previous username.</li>
          <li>Handle flatpak root filesystem limitations.</li>
        </ul>
        <p>Other</p>
        <ul>
          <li>Update flatpak runtime.</li>
        </ul>
      </description>
    </release>
    <release version="0.3.1" date="2022-08-31">
      <description>
        <p>Features</p>
        <ul>
          <li>UX improvements.</li>
          <li>Italian translation (Albano Battistella).</li>
        </ul>
        <p>Known bugs:</p>
        <ul>
          <li>
            Upstream, touch-specific: Server cannot be started after protocol switching via touch input.
            Gtk4 bug #5096
          </li>
        </ul>
      </description>
    </release>
    <release version="0.3.0" date="2022-08-19">
      <description>
        <p>Features</p>
        <ul>
          <li>User-friendly server status.</li>
          <li>Show server initialization errors.</li>
        </ul>
        <p>Fixes</p>
        <ul>
          <li>About dialog can now be reopen.</li>
          <li>Server startup stop now works.</li>
        </ul>
      </description>
    </release>
    <release version="0.2.2" date="2022-08-14">
      <description>
        <p>Fixes</p>
        <ul>
          <li>Block non-writing exclusive-creation in read-only SFTP.</li>
        </ul>
      </description>
    </release>
    <release version="0.2.1" date="2022-08-10">
      <description>
        <p>Features</p>
        <ul>
          <li>All public network addresses are now logged.</li>
          <li>All protocols are now announced via zeroconf.</li>
        </ul>
        <p>Fixes</p>
        <ul>
          <li>Re-enable saved password encryption.</li>
          <li>Show message for xdg-desktop-portal bug #820.</li>
          <li>Remove unnecessary permissions.</li>
        </ul>
      </description>
    </release>
    <release version="0.2.0" date="2022-08-06">
      <description>
        <p>Features</p>
        <ul>
          <li>SFTP support.</li>
          <li>UX improvements.</li>
          <li>Spanish translation.</li>
        </ul>
      </description>
    </release>
    <release version="0.1.1" date="2022-07-30">
      <description>
        <p>Fixes</p>
        <ul>
          <li>Fix host discovery.</li>
          <li>Fix Flatpak generation.</li>
        </ul>
      </description>
    </release>
    <release version="0.1.0" date="2022-07-22">
      <description>
        <p>Features</p>
        <ul>
          <li>Basic functionality: Authentication, R/RW modes and FTP+SSL.</li>
          <li>Functional Flatpak.</li>
        </ul>
        <p>Missing features</p>
        <ul>
          <li>Flatpak metadata (so no Flathub).</li>
          <li>About menu.</li>
          <li>Application menu start/stop.</li>
          <li>Appindicator support.</li>
        </ul>
        <p>Known issues</p>
        <ul>
          <li>Unable to discover the current IP.</li>
          <li>GObject version not sticked (it breaks Flatpak).</li>
          <li>Other dependency versions are too strict.</li>
        </ul>
      </description>
    </release>
  </releases>
</component>
